html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 243);
    border-radius: 5px;
}