html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1px;
    background: none;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 243);
    border-radius: 7px;
    border-right: 2px transparent;
}