.cardIndex{
    box-shadow: none;
}

.card {
    border-radius: 20px;
}

/* * {
    border: solid 2px red
}*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfdff;
}

/*.material-icons{
    color: white;
}*/

body::-webkit-scrollbar {
    width: 8px;
    background:-moz-linear-gradient();
    background-color: rgba(75, 162, 243, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 243);
    border-radius: 7px;
}

h1 {
    color: #91a1fa;
    font-family: 'Berkshire Swash', cursive;
}

a {
    color: rgb(15, 135, 156);
}

.espacio {
    width: 50px;
}

.corazones {
    width: 120px;
}

.redesSociales {
    width: 200px;
}

.imgEnlace {
    width: 290px;
}

.txtBtnIndex:hover {
    color: rgb(24, 120, 145);
}

.btnIndex:hover {
    background-color: white !important;
}