html {
    scroll-behavior: smooth;
}

body{
    background-color: #f0f6ff;
}
h1{
    color: #91a1fa;
    font-family: 'Berkshire Swash', cursive;
}

/*.material-icons{
    color: white;
}*/

body::-webkit-scrollbar {
    width: 8px;
    background:-moz-linear-gradient();
    background-color: rgba(75, 162, 243, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 243);
    border-radius: 7px;
}